/*Отсюда можно импортить другие модули стилей!!!*/
/*Это как index.js, но для css*/

body {
    background-color: aquamarine;
    user-select: none;
}

.main {
    padding-bottom: 100px;
}

.main-container {
    background-image: url("./img/bg.jpg");
    background-size: cover;
    aspect-ratio: 1/1;
}
.container {
    max-width: 800px !important;
    margin: 0 auto;
    padding: 0;
}
.header {
    max-width: 568px;
    margin: 0 auto;
}

.nav-menu {
    margin: 52px 0;
}

.nav-item {
    text-decoration: none; 
}

.nav-menu > ul {
    padding: 0;
}

.nav-menu > ul > li {
    text-align: center;
}

.nav-menu > ul > li > a {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    padding: 14px 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.nav-menu > ul > li > a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    cursor: pointer;
}

/**/

.pages-container {
    padding: 0;
    margin: 0;
}

.pages-container__item-img1 {
    background-image: url(./img/main.jpg);
}

.pages-container__item-img2 {
    background-image: url(./img/main2.jpg);
}

.pages-container__item-img3 {
    background-image: url(./img/main3.jpg);
}

.pages-container__item-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 8/4;
    color: #fff;
}

.main-btn-style {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color: #fff;
    padding: 2px 10px;
    font-family: 'Montserrat';
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pages-container__item-header-icon {
    padding: 0px 20px 0px 0px !important;
}

.pages-container__item-header-icon > img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.pages-container__item-header-personal-name {
    font-family: 'Montserrat';
    line-height: 19px;    
}
.pages-container__item-header-personal-date {
    font-size: 13px;
    line-height: 19px;
}
.pages-container__item-header-article {
    font-family: 'Montserrat';
    font-size: 28px;
    line-height: 35px;

    max-width: 470px;
}
.pages-container__item-description {
    background-color: #fff;
}

.pages-container__item-description-main {
    line-height: 25px;
}
.pages-container__item-description-button a{
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: #8d4fdb;
    padding: 0;
}

.read-more {
    font-family: 'Montserrat';
    background-color: #f1f1f1;
    padding: 60px 0;
}

.read-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.read-more__header {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.read-more__btn {
    margin-top: 20px;
}
.read-more__btn-style {
    padding: 8px 20px;
    color: #fff;
    background-color: #8D4FDB;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;

    border-radius: 3px;
    transition: .5s;
}

.read-more__btn-style:hover {
    background-color: #563380;
}

/**/

.sub-container {
    max-width: 940px;
    margin: 0 auto;
}
.sub-block {
    width: 100%;

    padding: 90px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sub-block > *:not(:last-child) {
    margin-bottom: 30px;
}

.sub-block__header {
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    
    color: #333333;
}
.sub-block__article {
    font-size: 23px;
    line-height: 33px;
    text-align: center;

    color: #a9afb3;
}
.sub-block__list {
    padding: 0;
}

.sub-block__item-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 8/5;
    color: #fff;
    min-width: 100%;
    border-radius: 3px;
    padding: 20px 10px;
}
.sub-block-container__item-img1 {
    background-image: url(./img/main.jpg);
}
.sub-block-container__item-img2 {
    background-image: url(./img/secondary2.jpg);
}
.sub-block-container__item-img3 {
    background-image: url(./img/secondary3.jpg);
}
.sub-block__item-header-icon > img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.sub-block__item-header-personal-name {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.sub-block__item-header-personal-date {
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.sub-block__item-description {
    font-family: 'Montserrat';
    line-height: 28px;
}
.sub-block__footer {
    width: 100%;
    text-align: center;
}
.sub-block__footer-article {
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #333333;
}
.sub-block__footer-link {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #8d4fdb;
}

/**/

.footer {
    padding: 40px;
    background-color: #000;
}

.footer-container {
    max-width: 500px;
    margin: 0 auto;
}

.footer-description {
    padding: 10px 0;
    font-size: 14px;
    line-height: 28px;
    text-align: center;

    color: #8b8b8b;
}

.footer-link {
    text-decoration: none;
    color: #8d4fdB;
}